/* ALL PAGES */

html {
  font-weight: 100;
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

.btn.btn-link {
  background-color: #F5D284;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  margin-bottom: 1rem;
  padding:.5rem 1rem .5rem 1rem;
}

.btn.btn-link:hover {
  background-color: #F8E6BE;
  color: black;
  text-decoration: none;
}

h2, h3, h4 {
  font-weight: bolder;
  line-height: normal;
}

h2, h3 {
  margin-top: 0;
}

img.social {
  padding: 0 .5rem 0 .5rem;
}

li {
  list-style-type: disc;
  list-style-position: inside;
}

p {
  line-height: 1.5;
}

p.img-captions {
  font-size: .9rem;
  margin-top: .8rem;
}

/*navbar*/

a.navbar-brand {
  margin: .5rem;
  padding: 0;
}

a.nav-links:hover {
  border-bottom: 3px solid #F5D284;
}

h5 {
  margin-top: 1.5rem;
}

.navbar-nav>li>a {
  padding-bottom: 0;
  margin-bottom: 1rem;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-nav {
  float: right;
  font-weight: bold;
}

.navbar-toggle {
  margin-top: 1.5rem;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  height: auto;
}

ul.nav {
  padding-top: 1.2rem;
}



/*footer*/

.container.footer {
  margin-top: 2rem;
  color: #000000;
}

.fab {
  margin-right: 1.5rem;
}

footer.container.footer {
  height: 7rem;
  margin-top: 0;
  overflow-y: hidden;
  width: 100%;
}

.footer-text {
  font-size: .7rem;
}

.row.footer {
  padding-top: 1rem;
}


/* HOMEPAGE */

.connected {
background: url("images/connected-1.png");
background-position: left;
background-repeat: no-repeat;
background-size: cover;
padding: 2rem 2rem;
}

.container.home {
  margin-top: 0rem;
}

.experience {
  color: #4a4a4a;
  font-weight: 100;
  list-style-type: none;
}

.experience-title {
  color: #000000;
  font-weight: 700;
}

.experience-with {
  background-color: none;
  background-size: cover;
  padding: 2rem 2rem;
}

.row.location {
  font-size: .7rem;
  opacity: .7;
  text-align: center;
}

.hero {
  background: url("images/hero-image-3.png");
  background-position: top right;
  min-height: 40rem;
}

.hi {
  font-family: "Raleway", serif;
  font-size: 3.5rem;
  margin-top: 7rem;
}

.homepage {
  color: white;
}

.homepage-header {
  font-family: "Raleway", serif;
  font-weight: bold;
}

row.home {
  padding-top: 3rem;
}

.say-hi {
  background: url("images/footer-img.png");
  background-position: bottom right;
  color: #FFFFFF;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.say-hi-text {
  font-weight: lighter;
}

.vicarious-homepage {
background: url("images/vicarious-img/airplane.png");
background-position: top left;
background-repeat: no-repeat;
background-size: cover;
padding: 2rem 2rem;
}

.work {
  margin-top: 15rem;
}

/* ABOUT PAGE */

a.underline-about:hover {
  border-bottom: 3px solid #F5D284;
}

a.underline-about:link {
  color: black;
  text-decoration: none;
}

.about-description {
  line-height: 1.8;
}

.about-image {
  background: url("images/about-image.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 33rem;
}

.about-title {
  font-family: "Raleway", serif;
  font-weight: normal;
  margin-bottom: 0;
}

.bold-opener {
  font-size: 1.2rem;
  font-weight: 700;
}

.container.about {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.small {
  color: #6c6c6c;
  font-size: .7rem;
  margin-top: .5rem;
}

/* CASE STUDIES */

a.case-study-links {
  text-decoration: none;
}

a.case-study-links:hover {
    border-bottom: 3px solid #F5D284;
}

.roles {
  line-height: 1.7;
  list-style-type: none;
}

.titles {
  color: #989898;
  font-weight: 400;
  padding-top: 2rem;
  border-top: solid 1px gray
}


/* CONNECTED */

.connected-shape {
  transform: scale(.4,.4);
}

.connected-title {
    font-size: 2.8rem;
    font-weight: bold;
}

.container.connected-project.white {
  padding-top: 2rem;
  width: 100%;
}

.container.connected-project.competitive-conclusion {
  background: url("images/dots.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-bottom: 2rem;
  width: 100%;
}

.container.connected-project.gray {
  background-color: #EFEFEF;
  margin-top: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 100%;
}

.container.connected-project.gray.no-top {
  margin: 0;
}

.container.project {
  margin-top: 4rem;
}

.header {
  background: url("images/connected-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
}

img.img-responsive.wireframes {
  padding-top: 2.4rem;
}

img.img-responsive.grid {
  border-radius: 1rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  margin-top: 1rem;
  transform: scale(.7,.7);
}

img.img-responsive.high-fidelity {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.motto {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #F5BF46;
}

p.last-paragraph {
  margin-bottom: 2rem;
}

.percent {
  color: #4F7D67;
  font-size: 1.8rem;
  font-weight: bold;
}

.problem-solution-box.cnt-project {
  align-self: center;
  background-color: #FFFFFF;
  border-radius: 15px;
  height: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1.5rem;
}

.row.connected-shape {
  height: auto;
}

.separator {
  border-radius: 5px;
}

.stand-out {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #4F7D67;
}


/* VICARIOUS */

a.case-study-links.white {
  color: white;
  font-weight: 900;
}

.btn.btn-link.vicarious {
  background-color: #FF6E5F;
  border-radius: 20px;
  color: black;
  font-weight: normal;
  padding:.5rem 2rem .5rem 2rem;
}

.btn.btn-link.vicarious:hover {
  background-color: #FFB0A8;
  color: black;
  text-decoration: none;
}

.btn.btn-link.vicarious.landing {
  background-color: #77E2F1;
  border-radius: 20px;
  color: black;
  font-weight: normal;
  padding:.5rem 2rem .5rem 2rem;
}

.btn.btn-link.vicarious.landing:hover {
  background-color: #A4FAFE;
}

.col-lg-4.col-md-4.competition {
  padding-left: 2rem;
}

.color-box {
  height: 5rem;
  margin-top: 2rem;
  width: 5rem;
}

.color-box.one {
  background-color: #5AD3EB;
}

.color-box.two {
  background-color: #13ABC7;
}

.color-box.three {
  background-color: #84E1F2;
}

.col-lg-2.arrow {
  padding-top: 12rem;
}

.col-xs-12.arrow {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.color-box.four {
  background-color: #FF6E5F;
}

.competition-first-line {
  vertical-align: baseline;
}

.container.vicarious {
  margin-top: 3rem;
  width: 100%;
}

.container.vicarious.competition-statement {
  background-color: #F8F8F8;
  font-weight: 700;
  padding: 2rem 2rem;
  width: 100%;
}

.container.vicarious.grayscale {
    background: linear-gradient(to right,#E0DEDE, #FFFFFF);
    margin-top: 0;
    padding-bottom: 3rem;
    padding-top: 3rem;
    width: 100%;
}

.container.vicarious.problem-solution {
  background-image: url("images/vicarious-img/airplane.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin-top: 0;
  width: 100%;
}

.container.vicarious.branding-conclusion {
  background-image: url("images/vicarious-img/plane.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin-top: 3rem;
  width: 100%;
}

.container.vicarious.competition-conclusion {
  background-image: url("images/vicarious-img/map-car.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin-top: 3rem;
  width: 100%;
}

.container.vicarious.frames {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0;
}

.container.vicarious.intro, .container.vicarious.logo {
  margin-bottom: 3rem;
}

.container.vicarious.user-conclusion {
  background-image: url("images/vicarious-img/reine.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin-top: 0;
  width: 100%;
}

.container.vicarious.wireframe-conclusion {
  background-image: url("images/vicarious-img/sunrise.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin-top: 0;
  width: 100%;
}

.container.vicarious.title {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.digital-wf {
  border: solid 1px #D8D8D8;
}

.img-responsive.competition {
  margin-bottom: 2rem;
}

.img-responsive.no-border {
  border-radius: 0;
}

.img-responsive.vicarious {
  margin-top: 1rem;
}

.img-responsive.vicarious.border{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 3rem;
}

.img-responsive.header-image {
  margin-top: 1rem;
}

.last-paragraph {
  margin-bottom: 4rem;
}

.num {
  color:#FF6E5F;
  font-weight: bold;
}

.image-text {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
}

.image-text.top {
  padding-top: 3rem;
}

.image-text.last-wf {
  padding-bottom: 1rem;
}

.image-text.top.brand {
  margin-top: 8rem;
  padding-bottom: 1rem;
}

.percent.user {
  color: #FF6E5F;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: .2rem;
  margin-top: 0;
}

.percent.user.blue {
  color: #31BDCB;
}

.problem-solution-box {
  align-self: center;
  background-color: #FFFFFF;
  border-radius: 15px;
  height: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding: 1.5rem;
  opacity: .7;
}

.problem-solution-header {
  font-weight: 700;
  opacity: 1;
}

.problem-solution-text {
  opacity: 1;
}

.row.blue {
  padding-bottom: 2rem;
}

.separator-vicarious {
  border-radius: 5px;
}

.small-image-text {
  color: #FFFFFF;
  font-size: .8rem;
  padding-bottom: 1rem;
}

.sub-header {
  font-size: 1.2rem;
}

.standout {
  font-weight: 600;
}

.vicarious-captions {
  font-size: .8rem;
  margin-top: .8rem;
  margin-bottom: 2rem;
}

.vicarious-header {
  background: linear-gradient(to right,#FFFFFF, #E0DEDE);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
}

@media only screen and (max-width: 768px) {
  .vicarious-header {
    height: 20rem;
  }
}

.vicarious-title {
  font-size: 2.8rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .small {
    max-width: 70%;
  }
}
